#### Importação dos pacotes

In [33]:
import pandas as pd

#### Leitura dos dataframes

In [34]:
df_livros = pd.read_csv(
    filepath_or_buffer = 'Livros.csv'
)

In [35]:
df_livros.head()

,ID,Título,Preço Unitário,Preço de custo,Estoque livre,Quantidade de vendas
0,1,A Ilha do Destino,"R$45,00","R$28,00",39,240
1,2,O Enigma da Escuridão,"R$60,00","R$35,00",66,552
2,3,O Labirinto dos Segredos,"R$55,00","R$32,00",58,192
3,4,A Magia Perdida,"R$50,00","R$30,00",47,216
4,5,O Mistério da Noite Estrelada,"R$40,00","R$25,00",36,216

In [36]:
df_livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    100 non-null    int64
 1   Título                100 non-null    object
 2   Preço Unitário        100 non-null    object
 3   Preço de custo        100 non-null    object
 4   Estoque livre         100 non-null    int64
 5   Quantidade de vendas  100 non-null    int64
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

In [37]:
df_vendas = pd.read_csv(
    filepath_or_buffer = 'registro_vendas.csv'
)

In [38]:
df_vendas.head()

,ID_Fatura,ID_Produto,Data_Compra,Data_Entrega,Metodo_Pagamento,Endereco_Entrega,Cidade_Entrega,Codigo_Postal_Entrega
0,1,70,2023-02-17 20:52:20.648330,2023-02-19 20:52:20.648330,Cartão de crédito,"Rua Principal, 176",São Paulo,61648
1,2,59,2023-03-02 20:52:20.648376,2023-03-10 20:52:20.648376,PayPal,"Rua Principal, 748",Belo Horizonte,37673
2,3,2,2022-11-09 20:52:20.648394,2022-11-12 20:52:20.648394,Dinheiro,"Rua Principal, 146",São Paulo,23099
3,4,25,2022-08-25 20:52:20.648410,2022-09-01 20:52:20.648410,PayPal,"Rua Principal, 38",Rio de Janeiro,47826
4,5,85,2022-09-21 20:52:20.648426,2022-09-24 20:52:20.648426,Dinheiro,"Rua Principal, 259",Belo Horizonte,65768

In [39]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_Fatura              1000 non-null   int64
 1   ID_Produto             1000 non-null   int64
 2   Data_Compra            1000 non-null   object
 3   Data_Entrega           1000 non-null   object
 4   Metodo_Pagamento       1000 non-null   object
 5   Endereco_Entrega       1000 non-null   object
 6   Cidade_Entrega         1000 non-null   object
 7   Codigo_Postal_Entrega  1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

#### Tratamento dos dados

##### Livros

In [40]:
df_livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    100 non-null    int64
 1   Título                100 non-null    object
 2   Preço Unitário        100 non-null    object
 3   Preço de custo        100 non-null    object
 4   Estoque livre         100 non-null    int64
 5   Quantidade de vendas  100 non-null    int64
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

In [44]:
# Retirando o R$ da variável 
df_livros['Preço Unitário'] = df_livros['Preço Unitário'].str.replace('R$', '')

In [45]:
df_livros['Preço Unitário']

0     45,00
1     60,00
2     55,00
3     50,00
4     40,00
      ...
95    60,00
96    45,00
97    55,00
98    70,00
99    45,00
Name: Preço Unitário, Length: 100, dtype: object

In [47]:
#Substituindo a vírgula por ponto
df_livros['Preço Unitário'] = df_livros['Preço Unitário'].str.replace(',', '.')

In [48]:
df_livros['Preço Unitário']

0     45.00
1     60.00
2     55.00
3     50.00
4     40.00
      ...
95    60.00
96    45.00
97    55.00
98    70.00
99    45.00
Name: Preço Unitário, Length: 100, dtype: object

In [54]:
#Alterando o formato da variável para float
df_livros['Preço Unitário'] = df_livros['Preço Unitário'].astype(float)

In [55]:
df_livros['Preço Unitário']

0     45.0
1     60.0
2     55.0
3     50.0
4     40.0
      ...
95    60.0
96    45.0
97    55.0
98    70.0
99    45.0
Name: Preço Unitário, Length: 100, dtype: float64

In [50]:
#Fazendo o mesmo tratamento para a variável preço de custo
df_livros['Preço de custo'] = df_livros['Preço de custo'].str.replace('R$', '')

In [51]:
df_livros['Preço de custo'] = df_livros['Preço de custo'].str.replace(',', '.')

In [56]:
#Alterando o formato da variável para float
df_livros['Preço de custo'] = df_livros['Preço de custo'].astype(float)

In [57]:
df_livros['Preço de custo']

0     28.0
1     35.0
2     32.0
3     30.0
4     25.0
      ...
95    35.0
96    28.0
97    32.0
98    40.0
99    28.0
Name: Preço de custo, Length: 100, dtype: float64

In [58]:
df_livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    100 non-null    int64
 1   Título                100 non-null    object
 2   Preço Unitário        100 non-null    float64
 3   Preço de custo        100 non-null    float64
 4   Estoque livre         100 non-null    int64
 5   Quantidade de vendas  100 non-null    int64
dtypes: float64(2), int64(3), object(1)
memory usage: 4.8+ KB